body {
  background: #eee;
}

#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  margin: 50px;
  padding: 80px;
  border-radius: 10px;
}

#register {
  color: #6a1b9a;
}

h1 {
  text-align: center;
}

input {
  text-align: center;
  background-color: #f6f4f7;
  height: 3em;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5em;
  -webkit-appearance: none;
}

.tab input:focus {
  border: 1px solid #6a1b9a !important;
  outline: none;
}

input.invalid {
  border: 2px solid #e03a0666;
}

textarea{
  text-align: center;
  font-family: Raleway;
  background-color: #f6f4f7;
  height: 3em;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5em;
  -webkit-appearance: none;

}

.tab {
  display: none;
}

button {
  background-color: #6a1b9a;
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  border-radius: 0.5em;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: Raleway;
  cursor: pointer;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  transition: all 0.3s ease;

}

button:hover {
  background-color: #630b9a;
}

button:active{
  background-color: #6a1b9a;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateZ(40px);
}

#prevBtn {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #6a1b9a;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #6a1b9a;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  color: #fff;
  background: #6a1b9a;
  opacity: 1;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thanks-message {
  display: none;
}

.tab {
  font-size: large;
  text-align: center;
}

select {
  text-align:center;
  background-color: #f6f4f7;
  height: 3em;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.4em;
  transition: all 0.3s ease;
}

.select:hover {
  background-color: #e0e0e0;
  border-color: #999;
  
}

/* Dropdown item styling */
.select option {
  background-color: #ffffff;
  background-color: #bbbbbb;
  padding: 10px;
  border: none;
}
